
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a, p, .iconn {
    font-family: 'Montserrat', sans-serif;
}

.full-background {
    position: absolute;
    top: 0;
    z-index: -2;
    height: 100vh; 
    width: 100vw; 
    background-color: #1a1a1a; 
    background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
}


.wrapper,.hobbies,.projectos,.experiencia{
    
    
    color: #fff;
    background-color: #101010;
    
 
    background: radial-gradient(ellipse 80% 80% at 50% -20%);

}

.navbar {
    display: flex;
    justify-content: center; 
    padding: 2em;
}


.menu {
    display: flex;
    justify-content: center; 
    gap: 1em; 
}

.menu li {
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.menu .active {
    color: #deb841;
}

.menu a:hover {
    border-radius: 10px;
    background-color: #bfbdc1;
    
    color: #020024;
    transition: ease-in .3s;
    
}

.iconn{
    text-decoration: none;
}

.icon {
    display: flex;
    gap: 1em; /* Espacio entre los iconos */
    margin-top: 1em;
}

.icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em; /* Espacio alrededor del icono y el texto */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo transparente */
    border-radius: 20px; /* Borde redondeado */
    color: #fff; /* Color del texto */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

.icon i:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Fondo más claro al pasar el mouse */
    color: #000; /* Cambia el color del texto al pasar el mouse */
}

    

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: left;
    
}
.main img{

width: 500px;
margin-top: -30px; 
margin-bottom: 100px;



}

h1{
    font-size: 3em;
}

span{
    color:#deb841
}

.hobbies{
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Ajusta las columnas de la cuadrícula */
    width: 100%; /* Asegúrate de que la sección ocupe el 100% del ancho */
    align-items: center;
    margin-top: 10em;
    background-color: #101010; /* Asegúrate de que el fondo sea consistente */
    color: #fff;
    padding: 2em;
}

.hobbies-info{
    grid-column: 6/10;
    padding: 2em;
}

.hobbies-info h2{
    font-size: 2em;
    color: #101010;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #33a1fd;
    margin: 1em 0;
}

.hobbies p {

    margin-bottom:1em ;
}

.proyectos-headings{

    width: 100vw;
    
    padding: 5em;



}

.proyectos-headings h2{
    font-size: 2em;
}

.container{

    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background-color: #31393c;
    height: 350px;
    margin: 1em;

}
.card_img {
    width: 100%;
    height: 150px;
    background-image: url(../img/api-spotify.png);
    background-size: cover;
}

.card_img_2 {
    width: 100%;
    height: 150px;
    background-image: url(../img/big_data.png);
    background-size: cover;
}

.card_img_3 {
    width: 100%;
    height: 150px;
    background-image: url(../img/todolist.png);
    background-size: cover;
}

.card_title{
    padding: 20px;
    text-align: center;

}

.proyectos-links{

    display: flex;
    justify-content: space-evenly;

}

.proyectos-links a{
    color: #fff;
    text-decoration: none;
}

.proyectos-links i {

    font-size: 1.5em ;

}
.button {
    padding: 10px 20px;
    background-color: #deb841;
    color: #000; 
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 1em; 
   
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: #cda732; 
}
.card .proyectos-details {
    
    
    margin: 1em;
    text-align: center;
    
  


}

.proyectos-details-content{
    display: flex;
    width: 100%;
    justify-content: center;


}

.card .proyectos-details a {
    text-decoration: none;
    color: #101010;
    
}

.icon-link i {
    font-size: 2em; /* Ajusta el tamaño del icono */
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; /* Añade transición */
}

.icon-link:hover i {
    transform: rotate(360deg); /* Gira el icono 360 grados */
    color: #deb841; /* Cambia el color del icono */
}

.experiencia-headings{

    width: 100vw;
    
    padding: 5em;
    
}

.experiencia-headings h2{
    font-size: 2em;
    
}

.experiencia-headings p {
    font-size: 1.2em;
    margin-bottom: 1em;
    
}

.experiencia-headings ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.experiencia-headings ul i {
    font-size: 3em; 
    background-color: #deb841; 
    color: #000; 
    border-radius: 50%; 
    padding: 0.5em;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out; 
}

.experiencia-headings ul i:hover {
    transform: rotate(360deg); 
    background-color: #000; 
    color: #deb841; 
    cursor: pointer; 
}
@media (max-width: 768px) {

.main {
        grid-template-columns: 1fr; /* Una columna en pantallas más pequeñas */
        text-align: center;
    }


.menu {
        flex-direction: column;
        gap: 0.5em;
        align-items: flex-start; /* Alinea los elementos del menú a la izquierda */
    }

.container {
        width: 100%; /* Asegúrate de que la sección ocupe el 100% del ancho */
    }
    
}



